:root{
    --main-font: "Poppins", sans-serif;
    --secondary-font: font-family: "Archivo Black", sans-serif;
    --font-s:18px;
    --font-m:22px;
    --font-l:30px;
    
   --s-gap:10px;
   --m-gap:20px;
   --l-gap:30px;

   --s-space:15px;
   --m-space:30px;
   --l-space:45px;

   --primary:#edf2f4;
   --primary-dark:#a3a6a8;
   --secondary:#6685b3;
   --text:#001524;
   --accent:#fcbf49;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family:var(--main-font);
}
a{
    text-decoration: none;
    color: var(--text);
}



.general-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
    
}

/*  Header*/
.header{
    
    background-color:var(--primary-dark);
    grid-column: 2/3;
    grid-row: 1/2;
    padding: var(--s-space) 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

/* TOP Header*/
.top-header{
    display: grid;
    
    grid-template-columns: 2fr 1fr;
    padding: 0 var(--m-space);
}


.search-container{
    place-self: center start;

    display: grid;
    
    align-items: center;

   
}

.search-container label {
    display: flex;
    gap: var(--m-gap);
    align-items: center;
}

.search-container input {
    width:500px;
    height: 25px;
    border-radius: var(--m-space);
    border: 1px solid var(--text);
    padding: var(--s-space);
}



.admin-container{
    place-self: center end;
    display: grid;
    align-items: center;
    gap: var(--m-gap);
    grid-template-columns: auto auto 1fr;
}

/* BOTTOM Header*/
.bottom-header {
     display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    padding: 0 var(--m-space);
}

.left-header-container {
    display: grid;
    gap: var(--m-gap);
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

.right-header-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--m-gap);
    align-items: center;
    justify-content: end;
}

.right-header-container button{
    color: var(--primary);
    background-color: var(--secondary);
    padding: 15px var(--l-space);
    font-size: var(--font-s);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0 4px 6px -2px rgba(0, 0, 0, 0.05);
}



/* Sidebar */
.sidebar{
    background-color: var(--secondary);
    grid-column: 1/2;
    grid-row: 1/3;

    padding: var(--s-space);
}

.logo-wrapper{
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: var(--s-gap);
    margin-bottom: var(--m-space);
}

h1{
    color: var(--primary);
    font-family: var(--secondary-font);
    font-size: var(--font-l);
}

.sidebar-navigation{
    display: grid;
    gap: var(--l-gap);
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    
}

.sidebar-navigation ul {
    list-style: none;
}

.sidebar-navigation ul li{
    font-size: var(--font-m);
    margin-top: var(--s-space);
}
.sidebar-navigation ul li a {
    color: var(--primary);
    
}
.sidebar-navigation ul li a:hover {
    color: var(--accent);
}






/* Main */
.main{
    background-color: var(--primary);
    grid-column: 2/3;
    grid-row: 2/3;
    padding: var(--m-space);
    
}

.wrapper{
    display: grid;
    gap: var(--m-gap);
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.left-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: var(--l-gap) var(--l-gap);
    padding: var(--s-space);
}

.left-card{
      
    border-left: 4px solid var(--accent);
    border-radius: 10px;
    display: grid;
    gap: var(--s-gap);
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    padding: var(--s-space);
   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.left-card-text{
    margin-bottom: var(--s-gap);
}

.left-card-icon-group {
    display: grid;
    gap: var(--s-gap);
    align-items: center;
    justify-content: end;
    
     grid-template-columns: auto auto auto;

}


.right-card-container{
    padding: var(--s-space);
}

.right-card-container h3{
    margin-bottom: var(--s-space);
}
.top-main-container{
    padding: var(--m-space);
    display: grid;
    margin-bottom: var(--m-space);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
     box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.box {
    padding: 7px 0;
    border-bottom: 1px solid var(--text);
}

.bottom-main-container{
    padding: var(--m-space);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0 4px 6px -2px rgba(0, 0, 0, 0.05);

    display: grid;
    gap: var(--m-gap);
    grid-template-columns: 1fr;
    
}

.avatar-box-container{
    display: grid;
    align-items: center;
    gap: var(--m-gap);
    grid-template-columns:  1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.avatar-box{
    padding: var(--s-gap) 0;
    display: grid;
    gap: var(--s-gap);
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}